.DS_Store
05-terraform-for-beginners-using-google-cloud/.DS_Store
05-terraform-for-beginners-using-google-cloud/tf-workspace/.DS_Store
05-terraform-for-beginners-using-google-cloud/tf-workspace/Basics/data_source/.terraform.lock.hcl
05-terraform-for-beginners-using-google-cloud/tf-workspace/Basics/data_source/terraform.tfstate
05-terraform-for-beginners-using-google-cloud/tf-workspace/Basics/data_source/terraform.tfstate.backup
05-terraform-for-beginners-using-google-cloud/tf-workspace/Basics/data_source/.terraform/providers/registry.terraform.io/hashicorp/local/2.3.0/darwin_amd64/terraform-provider-local_v2.3.0_x5
05-terraform-for-beginners-using-google-cloud/tf-workspace/Basics/dependency/.terraform.lock.hcl
05-terraform-for-beginners-using-google-cloud/tf-workspace/Basics/dependency/terraform.tfstate
05-terraform-for-beginners-using-google-cloud/tf-workspace/Basics/dependency/terraform.tfstate.backup
05-terraform-for-beginners-using-google-cloud/tf-workspace/Basics/dependency/.terraform/providers/registry.terraform.io/hashicorp/local/2.3.0/darwin_amd64/terraform-provider-local_v2.3.0_x5
05-terraform-for-beginners-using-google-cloud/tf-workspace/Basics/dependency/.terraform/providers/registry.terraform.io/hashicorp/random/3.4.3/darwin_amd64/terraform-provider-random_v3.4.3_x5
05-terraform-for-beginners-using-google-cloud/tf-workspace/Basics/first-tf-script/.terraform.lock.hcl
05-terraform-for-beginners-using-google-cloud/tf-workspace/Basics/first-tf-script/terraform.tfstate
05-terraform-for-beginners-using-google-cloud/tf-workspace/Basics/first-tf-script/.terraform/providers/registry.terraform.io/hashicorp/local/2.3.0/darwin_amd64/terraform-provider-local_v2.3.0_x5
05-terraform-for-beginners-using-google-cloud/tf-workspace/Basics/lifecycle/.terraform.lock.hcl
05-terraform-for-beginners-using-google-cloud/tf-workspace/Basics/lifecycle/terraform.tfstate
05-terraform-for-beginners-using-google-cloud/tf-workspace/Basics/lifecycle/terraform.tfstate.backup
05-terraform-for-beginners-using-google-cloud/tf-workspace/Basics/lifecycle/.terraform/providers/registry.terraform.io/hashicorp/random/3.4.3/darwin_amd64/terraform-provider-random_v3.4.3_x5
05-terraform-for-beginners-using-google-cloud/tf-workspace/Basics/local_arg/.terraform.lock.hcl
05-terraform-for-beginners-using-google-cloud/tf-workspace/Basics/local_arg/terraform.tfstate
05-terraform-for-beginners-using-google-cloud/tf-workspace/Basics/local_arg/terraform.tfstate.backup
05-terraform-for-beginners-using-google-cloud/tf-workspace/Basics/local_arg/.terraform/providers/registry.terraform.io/hashicorp/local/2.3.0/darwin_amd64/terraform-provider-local_v2.3.0_x5
05-terraform-for-beginners-using-google-cloud/tf-workspace/Basics/multiple_provider/.terraform.lock.hcl
05-terraform-for-beginners-using-google-cloud/tf-workspace/Basics/multiple_provider/terraform.tfstate
05-terraform-for-beginners-using-google-cloud/tf-workspace/Basics/multiple_provider/.terraform/providers/registry.terraform.io/hashicorp/local/2.3.0/darwin_amd64/terraform-provider-local_v2.3.0_x5
05-terraform-for-beginners-using-google-cloud/tf-workspace/Basics/multiple_provider/.terraform/providers/registry.terraform.io/hashicorp/random/3.4.3/darwin_amd64/terraform-provider-random_v3.4.3_x5
05-terraform-for-beginners-using-google-cloud/tf-workspace/Basics/multiple_resource/.terraform.lock.hcl
05-terraform-for-beginners-using-google-cloud/tf-workspace/Basics/multiple_resource/terraform.tfstate
05-terraform-for-beginners-using-google-cloud/tf-workspace/Basics/multiple_resource/terraform.tfstate.backup
05-terraform-for-beginners-using-google-cloud/tf-workspace/Basics/multiple_resource/.terraform/providers/registry.terraform.io/hashicorp/local/2.3.0/darwin_amd64/terraform-provider-local_v2.3.0_x5
05-terraform-for-beginners-using-google-cloud/tf-workspace/Basics/output_block/.terraform.lock.hcl
05-terraform-for-beginners-using-google-cloud/tf-workspace/Basics/output_block/terraform.tfstate
05-terraform-for-beginners-using-google-cloud/tf-workspace/Basics/output_block/terraform.tfstate.backup
05-terraform-for-beginners-using-google-cloud/tf-workspace/Basics/output_block/test_output.txt
05-terraform-for-beginners-using-google-cloud/tf-workspace/Basics/output_block/.terraform/providers/registry.terraform.io/hashicorp/local/2.3.0/darwin_amd64/terraform-provider-local_v2.3.0_x5
05-terraform-for-beginners-using-google-cloud/tf-workspace/Basics/output_block/.terraform/providers/registry.terraform.io/hashicorp/random/3.4.3/darwin_amd64/terraform-provider-random_v3.4.3_x5
05-terraform-for-beginners-using-google-cloud/tf-workspace/Basics/provider_version/.terraform.lock.hcl
05-terraform-for-beginners-using-google-cloud/tf-workspace/Basics/provider_version/terraform.tfstate
05-terraform-for-beginners-using-google-cloud/tf-workspace/Basics/provider_version/.terraform/providers/registry.terraform.io/hashicorp/random/3.4.3/darwin_amd64/terraform-provider-random_v3.4.3_x5
05-terraform-for-beginners-using-google-cloud/tf-workspace/Basics/random_provider/.terraform.lock.hcl
05-terraform-for-beginners-using-google-cloud/tf-workspace/Basics/random_provider/terraform.tfstate
05-terraform-for-beginners-using-google-cloud/tf-workspace/Basics/random_provider/.terraform/providers/registry.terraform.io/hashicorp/random/3.4.3/darwin_amd64/terraform-provider-random_v3.4.3_x5
05-terraform-for-beginners-using-google-cloud/tf-workspace/Basics/types_of_variable/.terraform.lock.hcl
05-terraform-for-beginners-using-google-cloud/tf-workspace/Basics/types_of_variable/terraform.tfstate
05-terraform-for-beginners-using-google-cloud/tf-workspace/Basics/types_of_variable/terraform.tfstate.backup
05-terraform-for-beginners-using-google-cloud/tf-workspace/Basics/types_of_variable/.terraform/providers/registry.terraform.io/hashicorp/local/2.3.0/darwin_amd64/terraform-provider-local_v2.3.0_x5
05-terraform-for-beginners-using-google-cloud/tf-workspace/Basics/variables/.terraform.lock.hcl
05-terraform-for-beginners-using-google-cloud/tf-workspace/Basics/variables/terraform.tfstate
05-terraform-for-beginners-using-google-cloud/tf-workspace/Basics/variables/terraform.tfstate.backup
05-terraform-for-beginners-using-google-cloud/tf-workspace/Basics/variables/.terraform/providers/registry.terraform.io/hashicorp/local/2.3.0/darwin_amd64/terraform-provider-local_v2.3.0_x5
05-terraform-for-beginners-using-google-cloud/tf-workspace/GCP/auth_with_service_account/.terraform.lock.hcl
05-terraform-for-beginners-using-google-cloud/tf-workspace/GCP/auth_with_service_account/automate-etl-pipelines-sa-keys.json
05-terraform-for-beginners-using-google-cloud/tf-workspace/GCP/auth_with_service_account/terraform.tfstate
05-terraform-for-beginners-using-google-cloud/tf-workspace/GCP/get-started-with-gcp/terraform.tfstate
05-terraform-for-beginners-using-google-cloud/tf-workspace/GCP/get-started-with-gcp/terraform.tfstate.backup
05-terraform-for-beginners-using-google-cloud/tf-workspace/GCP/get-started-with-gcp/.terraform/providers/registry.terraform.io/hashicorp/google/4.57.0/darwin_amd64/terraform-provider-google_v4.57.0_x5
05-terraform-for-beginners-using-google-cloud/tf-workspace/GCP/auth_with_service_account/terraform.tfstate.backup
05-terraform-for-beginners-using-google-cloud/tf-workspace/GCP/auth_with_service_account/.terraform/providers/registry.terraform.io/hashicorp/google/3.85.0/darwin_amd64/terraform-provider-google_v3.85.0_x5
05-terraform-for-beginners-using-google-cloud/tf-workspace/GCP/get-started-with-gcp/.terraform.lock.hcl
